<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Korumalı Diyabet">
    <meta property="og:type" content="website">
    <meta name="application-name" content="Korumalı Diyabet">
    <meta property="og:url" content="https://korumalidiab.org">
    <meta property="og:description" content="Şeker Hastalığına Karşı Geliştirdiğimiz Wen-Uygulama ve Appimiz Hazır ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP</title>
</head>
<body>
    
</body>
</html>