<!DOCTYPE html>
<html lang="en">
    <head>
    <meta property="og:title" content="Korumalı Diyabet">
    <meta property="og:type" content="website">
    <meta name="application-name" content="Korumalı Diyabet">
    <meta property="og:url" content="https://korumalidiab.org">
    <meta property="og:description" content="Şeker Hastalığına Karşı Geliştirdiğimiz Wen-Uygulama ve Appimiz Hazır ">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="../../static/css/404.css">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="shortcut icon" href="../../static/images/logo.jpg" type="image/x-icon">
        
        <title>404 - Sayfa Bulunamadı</title>
    </head>
<body>
    <div class="number">404</div>
    <div class="text"><span>Hay aksi...</span><br>sayfayı bulamadık</div>
</body>
</html>