<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="application-name" content="Korumalı Diyabet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta property="og:title" content="Korumalı Diyabet">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://korumalidiab.org">
  <meta property="og:description" content="Şeker Hastalığına Karşı Geliştirdiğimiz Wen-Uygulama ve Appimiz Hazır ">
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" href="../static/images/logo.jpg" type="image/x-icon">
    
    <title>Korumalı Diyabetim</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img class="nav-logo" src="../static/images/logo.jpg" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">Hakkımızda</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        İndir
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                  <a class="dropdown-item" href="/download?from=windows">Windows (Stable)</a>
                  <a class="dropdown-item active" href="/download?from=mac">OSX (Mac)</a>
                  <a class="dropdown-item" href="/download?from=linux">Linux</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/download/from=appstore">App Store</a>
                  <a class="dropdown-item" href="/download/from=googleplay">Google Play</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="login-btn btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" type="submit"><a href="/signup">Giriş</a></button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/signup">Kaydol</a></button>
        </form>
    </div>
</nav>

<div class="home-app">
    <h1 class="home-title">Artık korkmana gerek yok.</h1>
    <p class="home-description">Çünkü artık koruman var.</p>
    <img class="home-img" src="../static/images/home.png">
</div>

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo nihil perspiciatis maxime minima. Pariatur nisi corrupti, debitis voluptatibus placeat fugiat explicabo aliquam quae magni, dolorem odio eligendi dicta, ducimus nihil.
Impedit molestiae illum vero odit quas perferendis aspernatur animi et dolores, minima aperiam exercitationem ad unde ab molestias ullam inventore! Cumque, sapiente debitis? Aliquam optio tenetur aspernatur deleniti mollitia doloribus.
Atque magnam quasi error, molestiae itaque rem quos earum impedit praesentium accusantium tenetur qui et nihil odit esse eius unde? Quod corporis dolore in magnam nulla explicabo placeat. Ab, eos?
Voluptatem doloribus, at expedita vero nulla rem omnis magnam architecto temporibus debitis reiciendis fuga distinctio enim aliquam sequi harum inventore praesentium. Hic, laborum minima! Tenetur, quaerat? Eos velit corrupti nobis?
Porro nisi iure adipisci recusandae alias ex animi tempora iste velit id repudiandae expedita eaque vero odio repellendus eum perspiciatis non maiores eveniet omnis, nostrum provident deserunt! Repudiandae, natus sed!
Eligendi minus neque unde! Beatae aspernatur nemo, dolores dignissimos et vitae totam voluptatibus provident sequi officiis, ab consectetur est sapiente ipsum qui, reprehenderit consequuntur dolorem hic explicabo cum incidunt facere?
Recusandae nisi ut velit inventore delectus fuga, eos ex officiis consectetur, tempore id expedita illo in aspernatur. Error veniam, impedit quisquam debitis ullam repellendus quidem saepe iusto tempore totam amet!
Modi eum minima, fugiat veniam ea laudantium eaque quaerat. Et dicta aut soluta? Dolores voluptatum voluptates eum recusandae laboriosam. Neque aliquam soluta illo ratione enim dolorem pariatur perferendis fugiat minima.
Delectus, laboriosam, neque dolor consequuntur quaerat quisquam deleniti saepe beatae ab vel ex doloribus quis amet a maxime facere magni quam rerum reprehenderit sunt illum unde quidem consequatur culpa! Possimus.
Maiores id vero tenetur nulla saepe illum expedita quod assumenda voluptate dolorem labore dolor fugiat dolorum pariatur beatae eligendi qui eveniet rerum nostrum, sed maxime optio voluptatibus? Qui, expedita eveniet?
Nemo beatae explicabo porro minima quam minus aut repudiandae perferendis esse illo dicta saepe corporis, vitae sit fugit earum ut. Aut ullam suscipit inventore ut, corporis nobis voluptatem debitis est.
Magnam autem voluptas rerum ducimus voluptate laudantium tempora, consequatur in delectus. Illum ratione ea eum dicta quasi ullam. Quis, saepe porro! Nobis cum, saepe molestiae est error sequi autem magni?
Id suscipit quo hic, cumque labore tenetur impedit iusto sed, pariatur similique reiciendis libero velit! Incidunt inventore aliquid obcaecati repellat asperiores. Numquam veritatis minima beatae at voluptas. Est, ipsam earum?
Dolore inventore, deleniti eaque eveniet pariatur sint dolorem aperiam autem commodi a iure minus magni eius delectus dolores vero ad dolor ipsa expedita ipsum consequatur? Repellendus pariatur aspernatur in necessitatibus.
Molestias omnis sapiente doloremque qui quibusdam vero. Ducimus nostrum ea perspiciatis, facilis architecto officiis molestiae, saepe hic ipsam autem facere iure rerum dignissimos unde magni. Ducimus omnis quo perferendis ratione.
Porro, atque deserunt accusamus repellat magnam obcaecati eos itaque dolor possimus, recusandae veritatis non cum blanditiis, enim eius culpa aliquam aut. Nihil amet quam aliquid quo hic assumenda voluptatibus temporibus.
Ipsa maxime saepe, cupiditate dicta accusamus asperiores ad. Dolores dicta adipisci nisi ut recusandae necessitatibus temporibus itaque animi! At exercitationem natus facilis ullam consectetur incidunt saepe iusto labore quaerat quibusdam?
Blanditiis facilis esse enim quaerat rem sapiente beatae minus, laborum nihil placeat eligendi inventore asperiores non, quis ex aspernatur quam obcaecati libero facere culpa repellat. Laudantium consectetur laboriosam voluptate rerum.
Reiciendis nisi est adipisci molestiae, placeat tenetur maiores laudantium officiis ut earum aperiam quaerat eaque fugiat dolores nesciunt iste odio laborum aliquid beatae corporis! Ad ullam necessitatibus ipsa at sed.
At quisquam ab quaerat sint magnam autem deleniti quos consequuntur suscipit laborum fugiat eum numquam natus cum, unde aperiam dolorem nemo optio cupiditate rerum voluptatum voluptas error! Temporibus, veritatis expedita.
Fugiat incidunt, porro asperiores rem animi atque dolorem obcaecati dolor voluptas. Assumenda sequi suscipit, itaque dolorem nemo quos rerum ab modi? Ex reprehenderit cumque, molestias eligendi animi deserunt quod porro!
Facere veritatis, unde corporis inventore expedita, assumenda cumque eligendi ipsum aspernatur consequatur praesentium ab aliquam voluptatum at? Saepe rem laboriosam qui quisquam nisi veritatis temporibus, nesciunt dolores, autem odio veniam.
Consectetur deserunt cumque fugit eum hic ipsam itaque atque voluptate numquam magni possimus sequi laboriosam architecto vitae eaque in suscipit, aut a nobis adipisci fuga animi iusto porro? Obcaecati, in.
Atque perferendis temporibus asperiores eos quaerat veniam quisquam ea, quia dignissimos molestias numquam sint non, reprehenderit dicta! Veritatis libero ut sed optio harum magni ducimus, dolorum rem modi vel et.
Facere alias quisquam cum ullam pariatur ipsam repellendus ea mollitia corrupti iste? Fugiat temporibus minus quibusdam ad corporis qui minima deleniti voluptatibus ratione. Sapiente voluptates laudantium molestiae mollitia aperiam quasi.
Voluptatem recusandae pariatur perspiciatis temporibus. Incidunt ex doloribus iure obcaecati error eos consequuntur perspiciatis minus veniam eveniet, reprehenderit labore quaerat, cumque nulla dicta quo libero exercitationem accusamus rerum? Iure, ullam.
Voluptatum saepe cum velit odio ullam at vero facere optio voluptatem blanditiis aliquid, sequi, provident reprehenderit tenetur libero! Laborum at quo quod! Provident inventore quisquam eius harum minima necessitatibus velit?
A ipsa cupiditate excepturi tempora nemo deserunt accusantium pariatur expedita, hic illo labore quos explicabo. Atque laudantium ullam debitis hic, mollitia tenetur porro, cumque, iure doloremque nisi voluptatibus cupiditate enim.
Hic, quibusdam sapiente! Placeat fugiat officiis eius aliquam modi molestias voluptatem eligendi, beatae magnam laboriosam pariatur omnis porro vel doloremque dolorem recusandae inventore reprehenderit itaque? Natus voluptatibus quaerat quod repellendus!
Eius, fugiat. Doloribus, temporibus. Molestiae a sequi minus doloribus nam eos amet sapiente ex, tempora autem odit enim eum voluptas consectetur laboriosam? Natus expedita nisi provident pariatur. Hic, eum accusantium?
Voluptate obcaecati similique molestiae voluptatum nobis dolorum quos sequi commodi, eum ipsa rerum. Quasi at tempore odio aspernatur quidem architecto blanditiis porro quisquam rerum reiciendis, ullam, aperiam odit nostrum ab.
Nihil fuga perferendis debitis ea maiores magnam alias cumque molestiae placeat laboriosam rerum recusandae tenetur optio, veniam, impedit suscipit asperiores ducimus dolor molestias. Earum, vitae! Saepe repudiandae laboriosam sapiente asperiores!
At voluptatum, voluptate ratione corrupti reiciendis officia obcaecati natus sunt et dicta neque unde illo facere. Aut dolor laboriosam excepturi quo exercitationem laborum alias, nemo a error pariatur quisquam reiciendis.
Dignissimos, minus commodi, velit mollitia dicta ipsa quod reiciendis quo enim pariatur officia ad, dolorum aspernatur explicabo. Molestias ullam dolorem voluptatum repudiandae sed nemo quis, debitis maxime porro consectetur corporis!
Libero nesciunt voluptas laboriosam vero nam veniam dignissimos esse architecto aspernatur quo enim sint accusantium dolores, molestias nihil cumque? Unde qui distinctio ipsa. Ipsam minus deleniti ex inventore tempora ratione.
Quisquam nemo nostrum consectetur eos ducimus, iure itaque optio quo omnis non, velit, tenetur fuga atque. Dolorum voluptatem, voluptates commodi ab molestias eum? Soluta quidem, quo minus odio assumenda sint.
Fuga esse eos mollitia repellat facere tempora expedita laborum fugit sapiente corporis veniam, veritatis quos nisi? Provident repellat iste veritatis minus aspernatur tempora itaque ab, ducimus, nulla voluptas, minima cum?
Dolorem nobis praesentium mollitia quia amet quas fuga modi saepe cumque. A, esse obcaecati nulla id perferendis doloremque, dignissimos laborum sint, officia autem necessitatibus blanditiis. Magnam fuga nulla eum blanditiis.
Doloribus ipsam quis, voluptatem aliquid modi aliquam, similique repellat ad ut itaque aspernatur libero incidunt dolore deleniti quas labore dolor, temporibus qui. Adipisci totam quae excepturi ab debitis, ducimus nulla!
Ea, sint. Debitis quasi voluptatum perspiciatis obcaecati fugit odit cumque, alias, excepturi sint adipisci ipsa nam ullam quos. Unde quam nostrum harum tempore! Voluptate laudantium deleniti dolore. Distinctio, minus laboriosam.
Officiis molestiae assumenda enim blanditiis, dolorum odit voluptatem cumque, consectetur perspiciatis accusantium quis alias aperiam, vel porro reiciendis placeat laudantium fugiat. Labore voluptatum distinctio accusantium saepe vel consequatur corrupti dolore?
Facere deserunt cupiditate, pariatur sed ipsam explicabo vel natus quam! Harum velit reiciendis totam possimus, porro animi ducimus, iusto at nostrum dolor perspiciatis omnis beatae voluptatum minus tempora a similique?
Aut inventore iste distinctio voluptatum consequuntur adipisci quo est nihil odit? Nostrum ex quibusdam dicta nemo repellendus sapiente voluptatem voluptas temporibus, reprehenderit repudiandae quaerat, voluptatum consequuntur illum perspiciatis ad! Dolorem!
Fugiat expedita maxime asperiores excepturi voluptatum quidem, quia totam, consequatur voluptate nobis corrupti esse, blanditiis vitae? Natus, perferendis laborum unde illo, laudantium voluptates esse dicta consectetur porro quod blanditiis maiores.
Praesentium consequatur aliquid molestiae nihil vero iusto quasi, voluptatum accusamus velit, officia obcaecati dolores. Est totam accusamus nisi necessitatibus provident, odio molestias dolores facilis consectetur! Autem illo culpa laboriosam ex.
Harum magnam fugit doloribus quidem non excepturi officia voluptatibus et quas nam. Praesentium possimus numquam iste vero. Enim accusamus earum nemo dicta deleniti ratione iste rem provident, architecto minima eos?
Nostrum consequuntur nesciunt, fugiat officiis aspernatur blanditiis est et natus hic, nihil totam quidem! Aspernatur reiciendis eligendi temporibus eius, laborum dolor numquam error quis quia ducimus deserunt dolores consequuntur reprehenderit.
Laborum consectetur id nobis at est incidunt provident ullam perspiciatis! Consequuntur odit dolor tempora, beatae vel doloremque quae nostrum magni blanditiis id voluptas repellat, sint ratione veritatis dolores at obcaecati?
Adipisci exercitationem voluptatibus ab facilis, vero sunt ea hic recusandae repellat soluta amet animi architecto minima repellendus consectetur consequuntur vitae? Provident alias eos praesentium obcaecati sint, quaerat magnam dolorum debitis.
Excepturi pariatur voluptas consequuntur dolores nulla magni odit magnam obcaecati quis dolore, non iste enim placeat reprehenderit cum ducimus velit quaerat nemo quae illum! Pariatur commodi quaerat aperiam inventore reiciendis.

<section class="">
    <footer class="bg-secondary text-white text-center text-md-start">
      <div class="footer-container container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-left">Korumalı Diyabetim</h5>
  
            <p class="text-left">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
              aliquam voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text">Resmi Kaynaklar</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://turkdiab.org" class="text-white">Türkiye Diyabet Vakfı
                </a>
              </li>
              <li>
                <a href="https://diyabetcemiyeti.org" class="text-white">Türkiye Diyabet Cemiyeti</a>
              </li>
              <li>
                <a href="https://trdiyabet.org" class="text-white">Türkiye Diyabet Derneği</a>
              </li>
              <li>
                <a href="https://tgdf.org" class="text-white">TGDF</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text mb-0">Site İçi</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="/download" class="text-white">İndir</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        <p class="copy-text footer-link">© 2022 Copyright Korumalidiab.org</p>
      </div>
    </footer>
  </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/render.js"></script>
</body>
</html>